*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.app{
    min-height: 100vh;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 50%, rgba(13,32,59,1) 100%);
}
h1{
    color: white;
}